body{
    font-family: 'Dancing Script', cursive;

}
/*our website wrapper*/
    #wrapper{
        text-align: center;
        max-width: 940px;
        margin:0 auto 0 auto;
        padding:0 5% 0 5%;
    }
/*our website logo*/
    #logo{
        margin:0;
        text-align:center;
        font-family: 'Tangerine', cursive;
    }
    #logo a{
        color:#222222;/*grey color*/
    }
    #logo h1{
        font-size:2em; /*1em = 16px*/
    }
    #logo h2{
        font-size:1.50em;
        font-weight: normal;
    }
    a{
        color:#fb3c3c;/*red color*/
    }

    a:visited{
        color:#fb3c3c;
    }
    header a{
        text-decoration: none;
    }
/*our navigation*/

    .navigationlinks a{
        font-size: 25px;
    }

    nav a:hover{
        color:#af2a2a;/*darker red color*/
        font-weight: bold;
    }
    nav ul li{
        padding:0;
        margin:0 70px 20px 0;
        display: inline-block;

    }
    nav{
        text-align: center;
    }



/* footer*/

    footer{
        font-size: 1.1em;
        color:#222222;
        text-align: center;
        clear: both;
    }

    footer a{
        text-decoration: none;
    }
    .socialicons{
        height:45px;
        width:45px;
        margin:20px 10px 0 0;
        paddin:0;

    }
    /*ID port folio / important for image fix to make website mobile handy*/
    #portfolio img{
            max-width: 100%;  /* important thig to remember*/
            padding:0;
        }

    #portfolio{
        list-style: none;
    }
    #portfolio li{
        widows: 95%;
        margin:10px 2.5% 0 2.%;
    }

    /*styles for our About Page*/
    #profilepic{
        margin:5px 0 10px 0;
        padding:0 0 10px 0;
        max-width:200px ;
        display:
    }

    h3{
        margin-bottom:  5px;
        text-align:center;
        margin:0 0 15px 10px;
    }

    #clientname{
        text-align:center;
        font-size:25px;
        margin:0 0 0 35px;
    }

/*styles for our Blog Page*/

.blogprofilepic{
  margin:5px 0 10px 0;
  padding:0 0 0 5px;
  max-width:200px ;
  display:block;
  border-radius: 100%;

}
.sidebar li{
  list-style: none;
}


.sidebar h3{
  text-align: center;
}

@media screen and (min-width:600px ){
    #portfolio li{
        float:left;
        width:45%;
        margin:2.5%;
    }

    .sidebar{
        float:right;
        margin:0 5% 0 10%;
    }
     .sidebar #profilepic{
        text-align: center;
        display: block;
        float:center;
    }
    h3{
        margin-bottom:  5px;
        text-align:left;
        margin:0 0 15px 10px;
    }
    #clientname{
        text-align:er;
        font-size:25px;
        margin:0 0 0 35px;
      
}

@media screen and (min-width:900px ){
    #portfolio li{
        float:left;
        width:25%;
        margin:2.5%;
    }
}
