body{
    font-family: 'Dancing Script', cursive;
   
}
/*our website wrapper*/
    #wrapper{
        text-align: center;
        max-width: 940px;
        margin:0 auto 0 auto;
        padding:0 5% 0 5%;
    }
/*our website logo*/
    #logo{
        margin:0;
        text-align:center;
        font-family: 'Tangerine', cursive;
    }
    #logo a{
        color:#222222;/*grey color*/
    }
    #logo h1{
        font-size:2em; /*1em = 16px*/
    }
    #logo h2{
        font-size:1.50em;
        font-weight: normal;
    }
    a{
        color:#fb3c3c;/*red color*/
    }

    a:visited{
        color:#fb3c3c;
    }
    header a{
        text-decoration: none;
    }
/*our navigation*/

    .navigationlinks a{
        font-size: 25px;
    }

    nav a:hover{
        color:#af2a2a;/*darker red color*/
        font-weight: bold;
    }
    nav ul li{
        padding:0;
        margin:0 40px 20px 0;
        display: inline-block;
       
    }
    nav{
        text-align: center;
    }
   
    footer{
        font-size: 1.1em;
        color:#222222;
        text-align: center;
    }
    
    .socialicons{
        height:35px;
        width: 35px;
        margin:10px;
    }